option_settings:
  aws:ec2:instances:
    InstanceTypes: t2.small,t2.micro
  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
    SecurityGroups: default
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 2
  aws:elasticbeanstalk:environment:
    EnvironmentType: LoadBalanced
    LoadBalancerType: application
  aws:elasticbeanstalk:environment:process:default:
    Port: 8080
    Protocol: HTTP
